<header>
    <a href="/">Mybaray</a>
    <ul>
        <li>
            <a href="/authors">Authors</a>
        </li>
        <li>
            <a href="/authors/new">Add Author</a>
        </li>
    </ul>
</header>